<%= simple_form_for([recipe, comment, reply], remote: true, html: ({id: "new_reply_#{comment.id}", data: { reply: reply.id, comment: comment.id }})) do |f| %>
  <%= f.input :content, label:false, placeholder: t('.add_a_public_reply'), input_html: { id: "reply_content_#{comment.id}" } %>
  <% if reply.id.nil? %>
    <%= f.button :submit, t('.reply'), class: 'btn btn-light' %>
    <%#= f.button :submit, t('.add_a_comment'), class: 'btn btn-light' %>
  <% else %>
    <%= f.button :submit, t('.save_edit'), id: "edit-reply-#{reply.id}-btn", class: 'btn btn-light' %>
  <% end %>
  <div class="btn btn-light reply-photo-btn" data-comment="<%= comment.id %>" <%= "data-reply=#{reply.id}" if !reply.id.nil? %> style="padding: 6px;"><i class="material-icons d-flex">add_photo_alternate</i></div>
  <div class="d-flex flex-column">
    <% if !reply.photo.url.nil? %>
      <%= image_tag reply.photo.url(:preview), id: "reply-photo-active-#{reply.id}", crop: :fill, width: 300, class: 'img-fluid rounded mt-3' %>
    <% end %>
    <%= image_tag "", width: 300, class: "d-none img-fluid rounded mt-3", id: "reply-photo-preview-#{reply.id}" %>
    <%= f.input :photo, input_html: { id: "reply-photo-input-#{reply.id}", class: "d-none"}, label: false %>
  </div>
<% end %>
