<div id="reply-<%= reply.id %>" class="mt-3 pl-3" data-reply="<%= reply.id %>">
  <div class="d-flex small">
    <strong><%= link_to reply.user.name, user_path(reply.user), class: 'text-body' %></strong>&ensp;
    <% time_since_creation = TimeDifference.between(reply.created_at, Time.current) %>
    <% if time_since_creation.in_years.floor >= 2 %>
      <%= t(".years_ago", count: time_since_creation.in_years.floor) %>
    <% elsif time_since_creation.in_years.floor < 1 && time_since_creation.in_months.floor.positive? %>
      <%= t(".months_ago", count: time_since_creation.in_months.floor) %>
    <% elsif time_since_creation.in_months.floor < 1 && time_since_creation.in_weeks.floor.positive? %>
      <%= t(".weeks_ago", count: time_since_creation.in_weeks.floor) %>
    <% elsif time_since_creation.in_weeks.floor.floor < 1 && time_since_creation.in_days.floor.positive? %>
      <%= t(".days_ago", count: time_since_creation.in_days.floor) %>
    <% elsif time_since_creation.in_days.floor < 1 && time_since_creation.in_hours.floor.positive? %>
      <%= t(".hours_ago", count: time_since_creation.in_hours.floor) %>
    <% elsif time_since_creation.in_hours.floor < 1 && time_since_creation.in_minutes.floor.positive? %>
      <%= t(".minutes_ago", count: time_since_creation.in_minutes.floor) %>
    <% elsif time_since_creation.in_minutes.floor < 1 && time_since_creation.in_seconds.floor.positive? %>
      <%= t(".seconds_ago", count: time_since_creation.in_seconds.floor) %>
    <% end %>&ensp;
    <% if reply.user == current_user || recipe.user == current_user %>
    <%= link_to t('.delete_html'), recipe_comment_reply_path(recipe, comment, reply), data: { confirm: t(".are_you_sure") }, method: :delete, remote: true %>
    <% end %>
  </div>
  <div class="my-1"><%= reply.content %></div>
</div>
