if(<%= @admin %>) {
  // console.log(`destroy ${<%= @reply.id %>}`);
  reply = document.querySelector(`#reply-${<%= @reply.id %>}`);
  if(reply) reply.remove();
  <% if @spams.count == 1 %>
  navbarBtn = document.querySelector('#spam');
  navbarBtn.classList.remove('text-danger');
  <% end %>
} else {
  // console.log(`destroy reply #${<%= @reply.id %>}`);
  reply = document.querySelector(`#reply-${<%= @reply.id %>}`);
  if(reply) reply.classList.add('d-none');
  button = document.querySelector(`#comment-${<%= @comment.id %>}-replies-list-btn`);
  <% if @comment.replies.any? %>
  if(button) button.innerHTML = `<span id="replies-list-arrow-<%= @comment.id %>"><i class="fas fa-sort-up"></i></span>&ensp;<%= t('.replies', count: @comment.replies.count) %>`;
  <% else %>
  if(button) button.classList.add('d-none');
  <% end %>
  commentsCount = document.querySelector('#comments-count');
  <% count = 0 %>
  <% @comment.replies.select{ |reply| !reply.spam }.each { |r| count += 1 } %>
  <% count += 1 %>
  if(commentsCount) commentsCount.innerHTML = `<%= t('.comments', count: count) %>`;
}
