function refreshForm(innerHTML) {
  const newReplyForm = document.getElementById('reply-reply-form-<%= @reply.comment.id %>');
  newReplyForm.innerHTML = innerHTML;
}

function addComment(replyHTML) {
  const replies = document.getElementById('replies-list');
  replies.insertAdjacentHTML('afterbegin', replyHTML);
}

<% if @reply.errors.any? %>
  refreshForm('<%= j render "replies/form", recipe: @recipe, comment: @comment, reply: @reply %>');
<% else %>
  document.querySelector(`#edit-reply-${<%= @reply.id %>}-form`).classList.add('d-none');
  reply = document.querySelector(`#reply-${<%= @reply.id %>}-content`);
  <% renderer = Redcarpet::Render::HTML.new(hard_wrap: true, link_attributes: { target: '_blank' }) %>
  <% extensions = {autolink: true} %>
  <% markdown = Redcarpet::Markdown.new(renderer, extensions) %>
  reply.innerHTML = `<div class="my-1 bg-light rounded p-3"><%= markdown.render(@reply.content).html_safe %></div>`;
  reply.classList.remove('d-none');
  replies = document.querySelectorAll('.reply-content');
  replies.forEach(reply => {
    const editReplyId = document.querySelector(`#edit-reply-${reply.dataset.reply}`);
    if (editReplyId) {
      editReplyId.addEventListener('click', (event) => {
        event.preventDefault();
        document.querySelector(`#reply-${reply.dataset.reply}-content`).classList.add('d-none');
        document.querySelector(`#edit-reply-${reply.dataset.reply}-form`).classList.remove('d-none');
        const spinner = document.querySelector(`.spinner-reply-<%= @reply.comment.id %>`);
        if (spinner) {
          spinner.parentElement.insertAdjacentHTML('beforeEnd', `<input type="submit" name="commit" value="Reply" class="btn btn btn-light" data-disable-with="Reply" />`);
          spinner.remove();
        }
      });
    }
  });
  commentsCount = document.querySelector('#comments-count');
  <% count = 0 %>
  <% count = @recipe.comments.map { |comment| comment.replies.count }.sum %>
  <% count += @recipe.comments.count %>
  commentsCount.innerHTML = `<%= t('.comments', count: count) %>`;
<% end %>


