<p><%= t('.greeting', recipient: @recipe.user.first_name.capitalize) %></p>
<p>
  <div style="padding: 12px 0;">
    <span style="margin-bottom: 12px;"><%= t('.new_comment', author: @comment.user.name) %></span><br>
    <%#= root_url[0...-1] + @recipe.photo.url(:full) %>
    <div style="padding: 16px 0;">
      <%= image_tag root_url[0...-1] + @recipe.photo.url(:full), style: 'display:inline-block;max-height:58px;max-width:96px;vertical-align:middle' %>
      <span style="padding: 0 16px;"><%= @recipe.title %></span>
    </div>
  </div>
  <strong><%= t('.author', author: @comment.user.name) %></strong>
  <div style="padding: 12px;"><%= t('.new_comment_content', content: @comment.content) %></div>
  <div style="padding: 12px 0;"><%= link_to t('.reply'), "#{recipe_url(id: @recipe)}#comment-#{@comment.id}", style: "text-decoration: none" %></div>
</p>
<p>
  <small>
    <%= t('.disable_comment_html', url: @url) %><br>
    <%= t('.copyright_html', year: Date.current.year) %>
  </small>
</p>
