<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>

    <div class="container">
      <div class="d-flex flex-column">
        <div class="pb-3"><%= t('.greeting', recipient: @recipe.user.first_name.capitalize) %></div>
        <div class="pb-3"><%= t('.author', author: @recipe.user.name) %> <%= t('.new_recipe', title: @recipe.title) %></div>
        <div class="pb-3"><%= t('.new_recipe_content', content: @recipe.description) %></div>
        <div class="pb-3"><%= link_to t('.see_recipe'), "#{recipe_url(id: @recipe)}", class: "btn btn-primary", target: "_blank" %></div>
        <div class="pb-3">
          <% image_url = '' %>
          <% image_url += root_url[0...-1] if Rails.env.development? %>
          <% image_url += @recipe.photo.url(:full) %>
          <%= image_tag image_url, class: 'mx-auto', style: 'max-width: 100%' %>
        </div>
      </div>
      <div class="py-5 d-flex flex-column align-items-center">
        <div class="text-muted small"><%= t('.disable_comment_html', url: user_url(id: @user)) %></div>
        <div class="text-muted small"><%= t('.copyright_html', year: Date.current.year) %></div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
