<div class="admin-analytics">
  <div class="row">
    <div class="col-2">
      <table class="table table-sm table-bordered">
        <caption><%= t('.top', count: @search_words.count) %></caption>
        <thead>
            <tr>
              <th scope="col"><%= t('.word') %></th>
              <th scope="col" class="text-center"><%= t('.count') %></th>
              <th scope="col" class="text-right"><%= t('.percent') %></th>
            </tr>
          </thead>
          <tbody>
          <% @search_words.each do |search_word| %>
            <tr>
              <td><%= search_word[:query] %></td>
              <td class="text-center"><%= search_word[:count] %></td>
              <td class="text-right"><%= search_word[:percent] %>&nbsp;&#37;</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
