<div class="admin-comments">
  <div class="row bg-white m-0 sticky-top border-top border-bottom font-weight-bold" style="top:59px;">
    <div class="col"><%= t('.public') %></div>
  </div>
  <% @messages.sort_by { |date| date.created_at }.reverse.map do |message| %>
  <div class="row align-items-center m-0 border-top" id="<%= "#{message.class.name.downcase}-#{message.id}" %>">
    <div class="col-9">
      <div class="d-flex flex-column w-100">
        <div class="d-flex align-items-center text-muted" style="font-size: 90%;">
          <img src="<%= message.user.image.thumb.url %>" width="24px" height="24px" class="rounded-circle mr-2">
          <strong><%= link_to message.user.name, user_path(message.user), class: 'text-muted' %></strong>&ensp;
          <% time_since_creation = TimeDifference.between(message.created_at, Time.current) %>
          <% if time_since_creation.in_years.floor >= 2 %>
            <%= t(".years_ago", count: time_since_creation.in_years.floor) %>
          <% elsif time_since_creation.in_years.floor < 1 && time_since_creation.in_months.floor.positive? %>
            <%= t(".months_ago", count: time_since_creation.in_months.floor) %>
          <% elsif time_since_creation.in_months.floor < 1 && time_since_creation.in_weeks.floor.positive? %>
            <%= t(".weeks_ago", count: time_since_creation.in_weeks.floor) %>
          <% elsif time_since_creation.in_weeks.floor.floor < 1 && time_since_creation.in_days.floor.positive? %>
            <%= t(".days_ago", count: time_since_creation.in_days.floor) %>
          <% elsif time_since_creation.in_days.floor < 1 && time_since_creation.in_hours.floor.positive? %>
            <%= t(".hours_ago", count: time_since_creation.in_hours.floor) %>
          <% elsif time_since_creation.in_hours.floor < 1 && time_since_creation.in_minutes.floor.positive? %>
            <%= t(".minutes_ago", count: time_since_creation.in_minutes.floor) %>
          <% elsif time_since_creation.in_minutes.floor < 1 && time_since_creation.in_seconds.floor.positive? %>
            <%= t(".seconds_ago", count: time_since_creation.in_seconds.floor) %>
          <% else %>
            <%= t(".seconds_ago", count: 1) %>
          <% end %>
          &ensp;<em><%= message.class.name %></em>
        </div>
        <div>
          <%= message.content %>
        </div>
      </div>
    </div>
    <div class="col-2 d-flex align-items-center">
    <% if message.class.name == "Reply" %>
      <%= image_tag message.comment.recipe.photo.url(:thumb), secure: true, height: 32, width: 32, class: 'rounded mr-3' %>
      <%= link_to truncate(message.comment.recipe.title, length: 20), recipe_path(message.comment.recipe), class: 'text-body' %>
      <%= link_to '<i class="material-icons md-16 d-flex">open_in_new</i>'.html_safe, "#{recipe_path(message.comment.recipe)}#reply-#{message.id}", class: 'text-body', target: '_blank', style: 'font-size: 90%' %>
    <% else %>
      <%= image_tag message.recipe.photo.url(:thumb), secure: true, height: 32, width: 32, class: 'rounded mr-3' %>
      <%= link_to truncate(message.recipe.title, length: 20), recipe_path(message.recipe), class: 'text-body' %>
      <%= link_to '<i class="material-icons md-16 d-flex">open_in_new</i>'.html_safe, "#{recipe_path(message.recipe)}#comment-#{message.id}", class: 'text-body', target: '_blank', style: 'font-size: 90%' %>
    <% end %>
    </div>
    <div class="col-1">
    <% if message.class.name == "Reply" %>
      <%= link_to t('.destroy_html'), recipe_comment_reply_path(message.comment.recipe, message.comment, message), data: { confirm: t(".are_you_sure") }, remote: true, method: :delete, class: 'text-body' %>
    <% else %>
      <%= link_to t('.destroy_html'), recipe_comment_path(message.recipe, message), data: { confirm: t(".are_you_sure") }, remote: true, method: :delete, class: 'text-body' %>
    <% end %>
    </div>
  </div>
  <% end %>
  <%= paginate @messages %>
</div>
