<div class="admin-dashboard">
  <div class="row">
    <div class="col-2 border rounded m-3 p-3">
      <div class="d-flex flex-column">
        <div class="d-flex w-100">
          <div class="font-weight-bold"><%= t('.users') %></div>
          <div class="ml-3"><%= @users.count %></div>
        </div>
        <div class="d-flex w-100">
          <div class="font-weight-bold"><%= t('.recipes') %></div>
          <div class="ml-3"><%= @recipes.count %></div>
        </div>
        <div class="d-flex w-100">
          <div class="font-weight-bold"><%= t('.comments') %></div>
          <div class="ml-3"><%= @comments.count + @replies.count %></div>
        </div>
      </div>
    </div>
  </div>
</div>
