<div class="admin-recipes">
  <div class="row bg-white m-0 sticky-top border-top border-bottom font-weight-bold" style="top:59px;">
    <div class="col-1"><%= t('.photo') %></div>
    <div class="col-2"><%= t('.title') %></div>
    <div class="col text-center"><%= t('.user') %></div>
    <div class="col text-center"><%= t('.published_date') %></div>
    <div class="col text-center"><%= t('.comments') %></div>
    <div class="col text-center"><%= t('.likes') %></div>
    <div class="col text-center"><%= t('.bookmarks') %></div>
    <div class="col text-center"><%= t('.action') %></div>
  </div>
  <% @recipes.sort_by { |date| date.created_at }.reverse.map do |recipe| %>
  <div class="row align-items-center m-0 border-top" id="<%= "recipe-#{recipe.id}" %>">
    <div class="col-1"><%= image_tag recipe.photo.url(:thumb), secure: true, height: 32, width: 32, class: 'rounded' %></div>
    <div class="col-2"><%= link_to recipe.title, recipe_path(recipe) %></div>
    <div class="col text-center"><%= recipe.user.name %></div>
    <div class="col text-center">
      <% time_since_creation = TimeDifference.between(recipe.created_at, Time.current) %>
      <% if time_since_creation.in_years.floor >= 2 %>
        <%= t(".years_ago", count: time_since_creation.in_years.floor) %>
      <% elsif time_since_creation.in_years.floor < 1 && time_since_creation.in_months.floor.positive? %>
        <%= t(".months_ago", count: time_since_creation.in_months.floor) %>
      <% elsif time_since_creation.in_months.floor < 1 && time_since_creation.in_weeks.floor.positive? %>
        <%= t(".weeks_ago", count: time_since_creation.in_weeks.floor) %>
      <% elsif time_since_creation.in_weeks.floor.floor < 1 && time_since_creation.in_days.floor.positive? %>
        <%= t(".days_ago", count: time_since_creation.in_days.floor) %>
      <% elsif time_since_creation.in_days.floor < 1 && time_since_creation.in_hours.floor.positive? %>
        <%= t(".hours_ago", count: time_since_creation.in_hours.floor) %>
      <% elsif time_since_creation.in_hours.floor < 1 && time_since_creation.in_minutes.floor.positive? %>
        <%= t(".minutes_ago", count: time_since_creation.in_minutes.floor) %>
      <% elsif time_since_creation.in_minutes.floor < 1 && time_since_creation.in_seconds.floor.positive? %>
        <%= t(".seconds_ago", count: time_since_creation.in_seconds.floor) %>
      <% else %>
        <%= t(".seconds_ago", count: 1) %>
      <% end %>
      <%#= recipe.created_at %>
      </div>
    <% replies = recipe.comments.map {|comment| comment.replies.count} %>
    <% replies_count = 0 %>
    <% replies.each { |reply| replies_count += reply } %>
    <div class="col text-center"><%= recipe.comments.count + replies_count %></div>
    <div class="col text-center"><%= recipe.likes.count %></div>
    <div class="col text-center"><%= recipe.bookmarks.count %></div>
    <div class="col text-center"><%= link_to t('.delete'), recipe_path(:id => recipe.slug, :admin => 'true'), data: { confirm: t(".are_you_sure") }, remote: true, method: :delete, class: 'text-body' %></div>
  </div>
  <% end %>
</div>
