<div class="admin-users">
  <div class="row bg-white m-0 sticky-top border-top border-bottom font-weight-bold" style="top:59px;">
    <div class="col-2"><%= t('.full_name') %></div>
    <!-- <div class="col-2"><%= t('.email') %></div> -->
    <div class="col text-center"><%= t('.locale') %></div>
    <div class="col text-center"><%= t('.followers') %></div>
    <div class="col text-center"><%= t('.following') %></div>
    <div class="col text-center"><%= t('.published_recipes') %></div>
    <div class="col text-center"><%= t('.comments') %></div>
    <div class="col text-center"><%= t('.likes') %></div>
    <div class="col text-center"><%= t('.bookmarks') %></div>
    <div class="col text-center"><%= t('.destroy_html') %></div>
  </div>
  <% @users.sort_by { |date| date.created_at }.reverse.map do |user| %>
  <div class="row m-0 border-top" id="user-<%= user.id %>">
    <div class="col-2 d-flex align-items-center">
      <%= link_to user_path(user), target: '_blank', data: {toggle: "tooltip",  placement: "top"}, title: user.email, class: 'd-flex align-items-center' do %>
        <img src="<%= user.image.thumb.url %>" width="24px" height="24px" class="rounded-circle mr-2" style="object-fit: cover;">
        <div class="<%= user.confirmed? ? 'text-body' : 'text-danger' %>"><%= user.name.titlecase %></div>
      <% end %>
    </div>
    <!-- <div class="col-2"><%= user.email %></div> -->
    <div class="col text-center"><%= user.locale if !user.locale.nil? %></div>
    <div class="col text-center"><%= user.followers.count %></div>
    <div class="col text-center"><%= user.following.count %></div>
    <div class="col text-center"><%= user.recipes.count %></div>
    <div class="col text-center"><%= user.comments.count + user.replies.count %></div>
    <div class="col text-center"><%= user.likes.count %></div>
    <div class="col text-center"><%= user.bookmarks.count %></div>
    <div class="col text-center">
      <!-- <p><%= link_to t(".destroy_account_html"), user_registration_path(user), data: { confirm: t(".are_you_sure") }, method: :delete %></p> -->
      <% if current_user.try(:admin?) && current_user != user %>
        <%= link_to t(".destroy_html"), admin_destroy_user_path(user.id), method: :delete, remote: true, data: { confirm: "You sure?" }, class: 'text-body' %>
      <% end %>
    </div>
  </div>
  <% end %>
  <%= paginate @users %>
</div>
