<div class="container my-5">
  <%= simple_form_for(@recipe) do |f| %>
    <%= f.input :title, label: t('.title'), input_html: { maxlength: 100} %>
    <%= f.input :subtitle, label: t('.subtitle'), input_html: { maxlength: 150}  %>
    <%= f.input :description, label: t('.description'), input_html: { maxlength: 280} %>
    <%= f.input :video, label: t('.youtube_video_link') %>
    <%#= f.input :image %>
    <%#= f.label :photo, t('.photo') %>
    <%#= f.input :photo, as: :file, label: false %>
    <div class="d-flex flex-column">
      <%= f.label :photo, t('.photo') %>
      <%#= cl_image_tag @recipe.photo.url, id: 'photo-active', crop: :fill, width: 300, class: 'img-fluid rounded mb-3' %>
      <%= image_tag "", width: 300, class: "d-none img-fluid rounded mb-3", id: "photo-preview" %>
      <%= f.input :photo, input_html: { id: 'photo-input'}, label: false %>
    </div>
    <%= f.input :tag_list, label: t('.add_tags'), as: :text, hint: t('.add_your_tags_separated_by_commas') %>
    <%#= f.input :ingredients %>

    <%= f.label :direction do %>
      <%= t('.direction') %>
      <button type="button" class="btn p-0" data-toggle="tooltip" data-placement="top" data-html="true" title="<small><%= t('.markdown_syntax_friendly_area') %></small>">
        <i class="fas fa-info-circle"></i>
      </button>
    <% end %>
    <%= f.input :direction, label: false, hint: t('.markdown_syntax_friendly_area'), input_html: { rows: 10 } %>
    <%= f.button :submit, t('.create_recipe'), class: "btn btn-secondary" %>
  <% end %>
</div>
