<div class="container mt-3 mb-5">
  <div class="d-flex justify-content-between align-items-center">
    <div class="d-flex justify-content-center align-items-center">
      <p class="m-0">
        <%= t('.recipe_published_by') %>
        <%= link_to "#{@recipe.user.first_name} #{@recipe.user.last_name}", user_path(@recipe.user), class: 'text-body' %>
      </p>
    </div>
    <div class="d-flex justify-content-center align-items-center">
      <% if user_signed_in? %>
        <p class="m-0 ml-3">
          <%= link_to t('.edit_recipe'), edit_recipe_path(@recipe), class: 'text-body' %>
        </p>
        <div class="order-0">
          <%= link_to recipe_bookmarks_path(@recipe), method: :patch, remote: true do %>
            <button class="btn p-0 ml-3 bookmarked">
            <%= @recipe.bookmarks.find_by(user: current_user).nil? ? raw('<i class="far fa-bookmark"></i>') : raw('<i class="fas fa-bookmark"></i>') %>
            </button>
          <% end %>
        </div>
        <div class="order-1">
          <%= link_to recipe_likes_path(@recipe), method: :patch, remote: true do %>
            <button class="btn p-0 ml-3 liked text-danger">
              <% if @recipe.likes.find_by(user: current_user).nil? %>
                <i class="far fa-heart"></i>
              <% else %>
                <i class="fas fa-heart"></i>
              <% end %>
              <span class="text-muted font-weight-lighter"><%= @recipe.likes.count %></span>
            </button>
          <% end %>
        </div>
      <% else %>
        <div class="text-body">
          <%= link_to raw('<i class="far fa-comment-alt"></i>'), new_user_session_path, class: 'btn p-0 ml-3' %>
          <%= link_to raw('<i class="far fa-bookmark"></i>'), new_user_session_path, class: 'btn p-0 ml-3' %>
        </div>
        <div class="text-danger">
          <%= link_to new_user_session_path, class: 'btn p-0 ml-3 text-danger' do %>
            <i class="far fa-heart"></i>&nbsp;<span class="text-muted font-weight-lighter"><%= @recipe.likes.count %></span>
            <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="mt-5 d-flex flex-column justify-content-center align-items-center">
    <div class="d-none d-md-block text-center">
      <div class="h1"><%= @recipe.title %></div>
      <div class="h2 text-secondary"><%= @recipe.subtitle %></div>
    </div>
    <div class="d-md-none text-center">
      <div class="h4"><%= @recipe.title %></div>
      <div class="h6 text-secondary"><%= @recipe.subtitle %></div>
    </div>
  </div>
  <% video = @recipe.video.match(/(.+\/)(.+)/) %>
  <div class="row my-5 d-print-none">
    <div class="col col-md-8 mx-auto">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/<%= video[2] %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <% renderer = Redcarpet::Render::HTML.new() %>
  <% markdown = Redcarpet::Markdown.new(renderer, extensions = {}) %>
  <%= markdown.render(@recipe.direction).html_safe %>
</div>
