<div class="container mt-3 mb-5">
  <div class="d-flex flex-column">
    <div class="d-flex order-0 order-md-0 justify-content-between align-items-start mb-3 mb-md-0 d-print-none">
      <div class="d-flex flex-grow-1 justify-md-content-start align-items-center order-0">
        <div class="d-flex flex-grow-1 m-0 align-items-center">
          <span class="mr-md-1">
            <% if client.device_type.match(/desktop/) %>
            <%= t('.recipe_published_by') %>
            <% end %>
          </span>
          <% if user_signed_in? %>
            <%= render @recipe.user %>
          <% else %>
            <%= link_to "#{@recipe.user.first_name.capitalize} #{@recipe.user.last_name.capitalize}", user_path(@recipe.user), class: 'text-body' %>
          <% end %>
        </div>
      </div>
      <% if user_signed_in? %>
      <% if @recipe.user == current_user %>
      <div class="d-flex flex-row justify-content-center m-0 ml-md-3 order-0">
        <%= link_to t('.edit_recipe'), edit_recipe_path(@recipe), class: 'text-muted' %>
      </div>
      <% end %>
      <div class="d-flex flex-column flex-md-row align-items-center justify-content-between order-1">
        <div class="order-0 order-md-1">
          <% heart = '<svg class="bi bi-heart mb-1" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 01.176-.17C12.72-3.042 23.333 4.867 8 15z" clip-rule="evenodd"/></svg>' %>
          <% heartFill = '<svg class="bi bi-heart-fill mb-1" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" clip-rule="evenodd"/></svg>' %>
          <% bookmark = '<svg style="font-size: 110%;" class="bi bi-bookmark mb-1" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 12l5 3V3a2 2 0 00-2-2H5a2 2 0 00-2 2v12l5-3zm-4 1.234l4-2.4 4 2.4V3a1 1 0 00-1-1H5a1 1 0 00-1 1v10.234z" clip-rule="evenodd"/></svg>' %>
          <% bookmarkFill = '<svg style="font-size: 110%;" class="bi bi-bookmark-fill mb-1" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 3a2 2 0 012-2h6a2 2 0 012 2v12l-5-3-5 3V3z" clip-rule="evenodd"/></svg>' %>
          <% if policy(Bookmark).update? %>
            <%= link_to recipe_bookmarks_path(@recipe), method: :patch, remote: true, class: 'p-0 m-0 m-md-0 ml-3 ml-md-3 text-body text-decoration-none', 'data-bookmark-recipe': @recipe.id do %>
              <%= @recipe.bookmarks.find_by(user: current_user).nil? ? raw(bookmark) : raw(bookmarkFill) %>
            <% end %>
          <% end %>
          <% if client.device_type.match(/smartphone|phablet/) %>
          <span id="share-btn" class="mx-3 text-muted"><%= t('.share_btn_html') %></span>
          <% end %>
          <%= link_to recipe_likes_path(@recipe), method: :patch, remote: true, class: "p-0 m-0 m-md-0 ml-md-3 text-danger text-decoration-none", 'data-like-recipe': @recipe.id do %>
            <% if @recipe.likes.find_by(user: current_user).nil? %>
              <%= raw(heart) %>
            <% else %>
              <%= raw(heartFill) %>
            <% end %>
            <span class="text-muted font-weight-lighter"><%= @recipe.likes.count %></span>
          <% end %>
        </div>
      </div>
      <% else %>
      <div class="d-flex align-items-center justify-content-center">
        <%= link_to raw('<i class="far fa-bookmark"></i>'), new_user_session_path, class: 'p-0 ml-3 text-body text-decoration-none' %>
        <%= link_to new_user_session_path, class: 'p-0 ml-3 text-danger text-decoration-none' do %>
          <i class="far fa-heart"></i>&nbsp;<span class="text-muted font-weight-lighter"><%= @recipe.likes.count %></span>
        <% end %>
      </div>
      <% end %>
    </div>
    <div class="mt-md-5 order-1 order-md-1 d-flex flex-column justify-content-center align-items-center">
      <div class="text-center">
        <div class="h1"><%= @recipe.title %></div>
        <div class="h2 text-secondary"><%= @recipe.subtitle %></div>
      </div>
    </div>
  </div>
  <div class="my-3 d-print-none">
    <%= image_tag @recipe.photo.url(:full), class: 'img-fluid rounded' %>
  </div>
  <% renderer = Redcarpet::Render::HTML.new(hard_wrap: true, link_attributes: { target: '_blank' }) %>
  <% extensions = {autolink: true, tables: true, footnotes: true} %>
  <% markdown = Redcarpet::Markdown.new(renderer, extensions) %>
  <%= markdown.render(@recipe.direction).html_safe %>
  <% unless @recipe.video.nil? %>
  <% share_link = @recipe.video.match(/(https?:\/\/.+\/)(.+(?=&)|.+)/).nil? ? nil : @recipe.video.match(/(.+\/)(.+)/)[2] %>
  <div class="row mt-5 d-print-none">
    <div class="col col-md-8 mx-auto">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/<%= share_link %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <% end %>
  <% if @related_recipes.any? %>
  <div class="d-print-none">
  <hr>
  <div class="h4 mb-3"><%= t('.related_recipes') %></div>
    <% @related_recipes.order('created_at DESC').take(5).each do |recipe| %>
    <%= render "shared/card-small", recipe: recipe %>
    <% end %>
  </div>
  <% end %>
  <hr>
  <div id="comments" class="d-print-none">
    <div id="comments-count" class="d-flex">
      <% count = 0 %>
      <%# count_comments = @recipe.comments.map { |comment| comment.spam ? 0 : count += 1 }.sum %>
      <%# count_replies = @recipe.comments.map { |comment| comment.spam ? 0 : comment.replies.count }.sum %>
      <%# count = count_comments + count_replies %>
      <% @recipe.comments.each do |comment| %>
        <% if !comment.spam %>
          <% comment.replies.select{ |reply| !reply.spam }.each { |r| count += 1 } %>
          <% count += 1 %>
        <% end %>
      <% end %>
      <%= t('.comments', count: count) %>
    </div>
    <% if user_signed_in? %>
    <div class="my-3">
      <%= render 'comments/form', recipe: @recipe, comment: @comment %>
    </div>
    <% end %>
    <div id="comments-list">
      <div class="d-flex flex-column">
        <% @recipe.comments.sort_by { |date| date.created_at }.reverse.each do |comment| %>
          <% if !comment.spam %>
            <%= render "comments/show", recipe: @recipe, comment: comment %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
