<div class="container mt-3 mb-5 recipe">
  <div class="d-flex flex-column">
    <div class="d-flex order-0 order-md-0 flex-column align-items-center flex-md-row justify-content-md-between align-items-md-start  mb-3 mb-md-0 d-print-none">
      <div id="recipe-user" class="d-flex w-100 align-items-center order-0">
        <div class="d-flex flex-grow-1 m-0 align-items-center">
          <% if !client.device_type.nil? && client.device_type.match(/desktop/) %>
          <span class="mr-md-1"><% t('.recipe_published_by') %></span>
          <% end %>
          <div class="d-flex flex-grow-1 flex-grow-md-0 justify-content-between justify-md-content-start align-items-center">
            <img src="<%= @recipe.user.image.thumb.url %>" width="24px" height="24px" class="rounded-circle mr-2" style="object-fit: cover;">
            <%= render @recipe.user %>
          </div>
        </div>
      </div>
      <% heart = '<i class="material-icons md-18 align-icons">favorite_border</i>' %>
      <% heartFill = '<i class="material-icons md-18 align-icons">favorite</i>' %>
      <% bookmark = '<i class="material-icons md-18 align-icons">bookmark_border</i>' %>
      <% bookmarkFill = '<i class="material-icons md-18 align-icons">bookmark</i>' %>
      <div class="d-flex flex-column flex-md-row align-items-center justify-content-center justify-content-md-end order-1 w-100">
        <div class="order-0 order-md-1 d-flex align-items-center mt-3 mt-md-0">
        <% if !client.device_type.nil? && client.device_type.match(/desktop/) %>
        <a href="" id="print" class="p-0 m-0 mr-3 mr-md-0 ml-md-3 text-decoration-none text-body"><%= t('.print_html') %></a>
        <% end %>
        <% if user_signed_in? %>
          <% if policy(Bookmark).update? %>
            <%= link_to recipe_bookmarks_path(@recipe), method: :patch, remote: true, class: 'p-0 m-0 mr-3 mr-md-0 ml-md-3 text-body text-decoration-none d-flex align-items-center', 'data-bookmark-recipe': @recipe.id do %>
              <%= @recipe.bookmarks.find_by(user: current_user).nil? ? raw(bookmark) : raw(bookmarkFill) %>
            <% end %>
          <% end %>
          <%= link_to recipe_likes_path(@recipe), method: :patch, remote: true, class: "p-0 m-0 ml-md-3 text-danger text-decoration-none d-flex align-items-center", 'data-like-recipe': @recipe.id do %>
            <%= @recipe.likes.find_by(user: current_user).nil? ? raw(heart) : raw(heartFill) %>
            <span class="text-muted font-weight-lighter ml-1"><%= @recipe.likes.count %></span>
          <% end %>
        <% else %>
          <% if policy(Bookmark).update? %>
            <%= link_to new_user_session_path, class: 'p-0 m-0 mr-3 mr-md-0 ml-md-3 text-body text-decoration-none d-flex align-items-center', 'data-bookmark-recipe': @recipe.id do %>
              <%= raw(bookmark) %>
            <% end %>
          <% end %>
          <%= link_to new_user_session_path, class: "p-0 m-0 mr-3 mr-md-0 ml-md-3 text-danger text-decoration-none d-flex align-items-center", 'data-like-recipe': @recipe.id do %>
            <%= raw(heart) %>
            <span class="text-muted font-weight-lighter ml-1"><%= @recipe.likes.count %></span>
          <% end %>
          <div class="d-flex align-items-center p-0 m-0 mr-3 mr-md-0 ml-md-3">
            <i class="material-icons md-18 align-icons">visibility</i>
            <span class="text-muted font-weight-lighter ml-1"><%= @recipe.impressionist_count(:filter=>:session_hash) %></span>
          </div>
        </div>
        <% end %>
        <% if @recipe.user == current_user %>
        <div class="d-flex flex-row justify-content-center m-0 mt-3 ml-md-3 mt-md-0 order-0">
          <%= link_to t('.edit_recipe'), edit_recipe_path(@recipe), class: 'text-muted' %>
        </div>
        <% end %>
        <% if @recipe.user == current_user %>
        <div class="d-flex flex-row justify-content-center m-0 mt-3 ml-md-3 mt-md-0 order-0">
          <%= link_to t('.edit_recipe'), edit_recipe_path(@recipe), class: 'text-muted' %>
        </div>
      <% end %>
      </div>
    </div>
    <div class="mt-md-5 order-1 order-md-1 d-flex flex-column justify-content-center align-items-center">
      <div class="text-center">
        <div class="h1"><%= @recipe.title %></div>
        <div class="h2 text-secondary"><%= @recipe.subtitle %></div>
      </div>
    </div>
  </div>
  <div class="my-3 my-md-5 d-print-none">
    <div class="recipe-image" style="background-image: url(<%= @recipe.photo.url(:full) %>);"></div>
    <%#= image_tag @recipe.photo.url(:full), class: 'recipe-image' %>
  </div>
  <div class="d-none d-print-block mt-3 mb-5 text-center">&#8766;&nbsp;www.CuisinierRebelle.com&nbsp;&#8766;</div>
  <% renderer = Redcarpet::Render::HTML.new(hard_wrap: true, link_attributes: { target: '_blank' }) %>
  <% extensions = {autolink: true, tables: true, footnotes: true} %>
  <% markdown = Redcarpet::Markdown.new(renderer, extensions) %>
  <% @recipe.direction = @recipe.direction.gsub(/http.+/) { |e| e.match?(/http.+\)/) ? e : "[#{e.truncate(30)}](#{e})" } %>
  <%= markdown.render(@recipe.direction).html_safe %>
  <% unless @recipe.video.nil? %>
  <% share_link = @recipe.video.match(/(https?:\/\/.+\/)(.+(?=&)|.+)/).nil? ? nil : @recipe.video.match(/(.+\/)(.+)/)[2] %>
  <div class="row mt-5 d-print-none">
    <div class="col col-md-8 mx-auto">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/<%= share_link %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <% end %>
  <% if @related_recipes.any? %>
  <div class="d-print-none">
  <hr>
  <div class="h4 mb-3"><%= t('.related_recipes') %></div>
    <% @related_recipes.each do |recipe| %>
    <%= render "shared/card-small", recipe: recipe %>
    <% end %>
  </div>
  <% end %>
  <div id="comments" class="d-print-none">
  <hr>
    <div id="comments-count" class="d-flex">
      <% count = 0 %>
      <%# count_comments = @recipe.comments.map { |comment| comment.spam ? 0 : count += 1 }.sum %>
      <%# count_replies = @recipe.comments.map { |comment| comment.spam ? 0 : comment.replies.count }.sum %>
      <%# count = count_comments + count_replies %>
      <% @recipe.comments.each do |comment| %>
        <% if !comment.spam %>
          <% comment.replies.select{ |reply| !reply.spam }.each { |r| count += 1 } %>
          <% count += 1 %>
        <% end %>
      <% end %>
      <%= t('.comments', count: count) %>
    </div>
    <% if user_signed_in? %>
    <div class="my-3">
      <%= render 'comments/form', recipe: @recipe, comment: @comment %>
    </div>
    <% else %>
    <div class="input-group my-3">
      <textarea id="new-user-registration" class="form-control" placeholder="<%= t('.add_a_public_comment') %>" aria-label="With textarea"></textarea>
    </div>
    <div class="input-group my-3">
      <a href="<%= new_user_registration_path %>" class="btn btn-light"><%= t('.add_a_comment') %></a>
      <a href="<%= new_user_registration_path %>" class="btn btn-light comment-photo-btn" style="padding: 6px;"><i class="material-icons d-flex">add_photo_alternate</i></a>
    </div>
    <% end %>
    <div id="comments-list">
      <div class="d-flex flex-column">
        <% @recipe.comments.sort_by { |date| date.created_at }.reverse.each do |comment| %>
          <% if !comment.spam %>
            <%# comment.content = comment.content.gsub(/\w+/) { |e| e.length > 50 ? e.truncate(50) : e } %>
            <%# comment.content = comment.content.gsub(/http.*/) { |e| "[#{e.truncate(30)}](#{e})" unless e.match(/\[.*\)$/) } %>
            <%= render "comments/show", recipe: @recipe, comment: comment %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
