<div class="container-fluid mt-3 mb-5">
  <div class="d-none row justify-content-center">
    <div class="col col-md-6">
    <%= render 'index/form' %>
    </div>
  </div>
  <% if @results.nil? %>
  <div class="container">
    <div class="my-3"><strong><%= t('.most_used_tags') %></strong></div>
    <%= render 'shared/tags' %>
    <div class="my-3"><strong><%= t('.recent_recipes') %></strong></div>
    <% @recipes.order('created_at DESC').each do |recipe| %>
      <%= render "shared/card-small", recipe: recipe %>
    <% end %>
  </div>
  <% else %>
  <div id="recipes-cards" class="row py-3">
    <% @results.each do |result| %>
      <% result.searchable %>
      <%= render 'shared/card', recipe: result.searchable %>
    <% end %>
  </div>
  <% end %>
</div>
