liked = document.querySelector(".liked");
console.log(`liked ${<%= @liked %>}`);
recipeId = <%= @recipe.id %>;
faHeart = document.querySelector(`.fa-heart-${recipeId}`);

fade = (element) => {
    var op = 1;  // initial opacity
    var timer = setInterval(function () {
        if (op <= 0.1){
            clearInterval(timer);
            element.style.display = 'none';
        }
        element.style.opacity = op;
        element.style.filter = 'alpha(opacity=' + op * 100 + ")";
        op -= op * 0.1;
    }, 50);
}

unfade = (element) => {
    var op = 0.1;  // initial opacity
    element.style.display = 'block';
    var timer = setInterval(function () {
        if (op >= 1){
            clearInterval(timer);
        }
        element.style.opacity = op;
        element.style.filter = 'alpha(opacity=' + op * 100 + ")";
        op += op * 0.1;
    }, 10);
}

if(<%= @liked %>) {
  liked.innerHTML = `<i class="fas fa-heart"></i>&nbsp;<span class="text-muted font-weight-lighter"><%= @recipe.likes.count %></span>`;
  // faHeart.classList.remove('d-none');
  unfade(faHeart);
  setTimeout(() => {
    console.log(`faHeart ${faHeart}`);
    fade(faHeart);
    // faHeart.classList.add('d-none');
  }, 500);
}
else liked.innerHTML = `<i class="far fa-heart"></i>&nbsp;<span class="text-muted font-weight-lighter"><%= @recipe.likes.count %></span>`;
