liked = document.querySelector("[data-like-recipe='<%= @recipe.id %>']");
faHeart = document.querySelector(".fa-heart-<%= @recipe.id %>");

likes_count = `<span class="text-muted font-weight-lighter ml-1"><%= @recipe.likes.count %></span>`;
heart = `<i class="material-icons md-18 align-icons">favorite_border</i>`;
heartFill = `<i class="material-icons md-18 align-icons">favorite</i>`;

<% @comment_id = @comment.nil? ? 0 : @comment.id %>
commentLikes = document.querySelector('#comment-<%= @comment_id %>-likes');
if (commentLikes) {
  commentLikes.classList.add('d-flex');
  commentLikes.innerHTML = <%= @comment.nil? ? 0 : @comment.comment_likes.count %>;
  userRecipeLikeElement = document.querySelector('#user-recipe-like-<%= @comment_id %>');
  if (userRecipeLikeElement) userRecipeLikeElement.remove();
  <% if !@comment.nil? && @comment.comment_likes.find_by(user: @recipe.user).present? %>
    userRecipeLike = `<div id="<%= "user-recipe-like-#{@comment_id}" %>" class="like ml-2" style="margin-top: 2px; background-image: url(<%= @comment.recipe.user.image.thumb.url %>);"><i class="material-icons text-danger like-heart" style="font-size: 12px;">favorite</i></div>`;
    commentLikes.insertAdjacentHTML('afterEnd', userRecipeLike);
  <% end %>
}


<% @reply_id = @reply.nil? ? 0 : @reply.id %>
replyLikes = document.querySelector('#reply-<%= @reply_id %>-likes');
if (replyLikes) {
  replyLikes.classList.add('d-flex');
  replyLikes.innerHTML = <%= @reply.nil? ? 0 : @reply.reply_likes.count %>;
  userRecipeLikeElement = document.querySelector('#user-recipe-like-<%= @reply_id %>');
  if (userRecipeLikeElement) userRecipeLikeElement.remove();
  <% if !@reply.nil? && @reply.reply_likes.find_by(user: @recipe.user).present? %>
    userRecipeLike = `<div id="<%= "user-recipe-like-#{@reply_id}" %>" class="like ml-2" style="margin-top: 2px; background-image: url(<%= @reply.comment.recipe.user.image.thumb.url %>);"><i class="material-icons text-danger like-heart" style="font-size: 12px;">favorite</i></div>`;
    replyLikes.insertAdjacentHTML('afterEnd', userRecipeLike);
  <% end %>
}

fade = (element) => {
    var op = 1;  // initial opacity
    var timer = setInterval(function () {
        if (op <= 0.1){
          clearInterval(timer);
          element.style.display = 'none';
        }
        element.style.opacity = op;
        element.style.filter = 'alpha(opacity=' + op * 100 + ")";
        op -= op * 0.1;
    }, 50);
}

unfade = (element) => {
    var op = 0.1;  // initial opacity
    element.style.display = 'block';
    var timer = setInterval(function () {
        if (op >= 1){
            clearInterval(timer);
        }
        element.style.opacity = op;
        element.style.filter = 'alpha(opacity=' + op * 100 + ")";
        op += op * 0.1;
    }, 10);
}

data = JSON.parse(localStorage.getItem('cuisinier_rebelle'))

if (data) {
  el = data.recipes.filter(recipe => recipe.recipe.id === <%= @recipe.id %>)[0]
  position = data.recipes.indexOf(el)
}

if(<%= @liked %>) {
  if (liked) liked.innerHTML = `${heartFill}${likes_count}`;
  if(faHeart != null) {
    faHeart.classList.remove('d-none');
    unfade(faHeart);
    setTimeout(() => {
      fade(faHeart);
      setTimeout(() => {faHeart.classList.add('d-none')}, 500);
    }, 500);
  }
  if (data) {
    el.recipe.likes_count += 1
    data.user.likes.unshift({recipeId: <%= @recipe.id %>})
  }

} else {
  liked.innerHTML = `${heart}${likes_count}`;
  if (data) {
    el.recipe.likes_count -= 1
    thisLike = data.user.likes.filter(like => like.recipeId === <%= @recipe.id %>)[0]
    console.log(thisLike)
    thisLikePosition = data.user.likes.indexOf(thisLike)
    data.user.likes.splice(thisLikePosition,1)
  }
}

if (data) {
  data.recipes.splice(position, 1, el);
  localStorage.setItem('cuisinier_rebelle', JSON.stringify(data));
}
