<div class="d-flex order-0 justify-content-between justify-content-md-start flex-grow-1 align-items-center" data-user="<%= user.id %>">
  <div class="mr-md-1 d-flex align-items-center">
    <%= link_to user.name.titlecase, user_path(user), class: "text-body" %>
    <% if user.checked %>
      <span data-toggle="tooltip" data-placement="top" title="<%= t('.verified') %>" class="d-flex px-1"><%= t('.verified_html') %></span>
    <% end %>
  </div>
  <% if user_signed_in? %>
    <% if current_user.is_following?(user.id) %>
      <%= link_to t('.unfollow'), unfollow_user_path(user.id), method: :post, remote: true, class: 'btn btn-dark btn-sm py-0' %>
    <% elsif user != current_user %>
      <%= link_to t('.follow'), follow_user_path(user.id), method: :post, remote: true, class: 'btn btn-dark btn-sm py-0' %>
    <% end %>
    <% if @recipe && @recipe.user == current_user %>
    <%= link_to t('.edit_recipe'), edit_recipe_path(@recipe), class: 'btn btn-sm btn-info py-0' %>
    <% end %>
  <% else %>
      <%= link_to t('.follow'), new_user_session_path, class: 'btn btn-dark btn-sm py-0' %>
  <% end %>
</div>
