<div class="d-flex flex-grow-1 justify-content-between align-items-center" data-user="<%= user.id %>">
  <div class="mr-md-1">
    <%= link_to "#{user.first_name.capitalize} #{user.last_name.capitalize}", user_path(user), class: "text-body" %>
    <% if user.checked %>
      <span data-toggle="tooltip" data-placement="top" title="<%= t('.verified') %>" style="font-size: 90%"><%= t('.verified_html') %></span>
    <% end %>
  </div>
  <% if user_signed_in? %>
    <% if current_user.is_following?(user.id) %>
      <%= link_to t('.unfollow'), unfollow_user_path(user.id), method: :post, remote: true, class: 'text-muted' %>
    <% elsif user != current_user %>
      <%= link_to t('.follow'), follow_user_path(user.id), method: :post, remote: true, class: 'text-muted' %>
    <% end %>
  <% else %>
      <%= link_to t('.follow'), new_user_session_path, class: 'text-muted' %>
  <% end %>
</div>
