<div class="container-fluid mt-3 mb-5">
  <div class="row justify-content-between p-3">
    <%= link_to t('.follower', count: @user.followers.count), followers_path, class: 'text-body ml-1' %>
    <% if user_signed_in? && @user == current_user %>
    <%= link_to t('.edit_user_registration'), edit_user_registration_path(@user), class: 'text-body' %>
    <% else %>
      <%= render @user %>
    <% end %>
  </div>
  <% if user_signed_in? && @user == current_user %>
  <table class="table table-sm">
    <tr>
      <th><%= t('.full_name') %></th>
      <td><%= @user.first_name.capitalize %>&nbsp;<%= @user.last_name.capitalize %></td>
    </tr>
    <tr>
      <th><%= t('.email') %></th>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <th><%= t('.created_at') %></th>
      <td><%= @user.created_at %></td>
    </tr>
    <tr>
      <th><%= t('.updated_at') %></th>
      <td><%= @user.updated_at %></td>
    </tr>
    <tr>
      <th><%= t('.published_recipes') %></th>
      <td><%= @user.recipes.count %></td>
    </tr>
  </table>
  <% else %>
  <div id="root" class="row py-3" data-bookmarks-count="<%= @bookmarks.count %>">
    <% @recipes.order('created_at DESC').each do |recipe| %>
      <%= render 'shared/card', recipe: recipe %>
    <% end %>
  </div>
  <% end %>
</div>
