<div class="col-md-4 col-lg-3 col-xl-2">
  <div class="card border-0" data-recipe="<%= recipe.id %>">
    <div class="card-img-top card-img-top-<%= recipe.id %> d-flex justify-content-center align-items-center" style="background-image: url('<%= image_path recipe.photo.url(:card), secure: true, height: 300, width: 400 %>');">
      <div class="fa-heart-<%= recipe.id %> d-none text-danger display-3">
        <i class="fas fa-heart"></i>
      </div>
      <div class="fa-bookmark-<%= recipe.id %> d-none text-body display-3">
        <i class="fas fa-bookmark"></i>
      </div>
    </div>
    <!-- <img class="card-img-top" src="<%= recipe.image %>" alt="image"> -->
    <div class="card-body py-2 px-0">
      <div class="d-flex justify-content-between align-items-center">
        <% if user_signed_in? %>
          <%= link_to recipe_likes_path(recipe), method: :patch, remote: true, class:"p-0 text-danger text-decoration-none", 'data-like-recipe': recipe.id do %>
            <% if recipe.likes.find_by(user: current_user).nil? %>
            <i class="far fa-heart"></i>
            <% else %>
            <i class="fas fa-heart"></i>
            <% end %>
            &nbsp;<span class="text-muted font-weight-lighter"><%= recipe.likes.count %></span>
          <% end %>
          <div class="d-flex align-items-center">
            <%# if recipe.comments.any? %>
              <%#= link_to raw('<i class="fas fa-comment-alt"></i>'), "#{recipe_path(recipe)}#comments", class: 'p-0 ml-3 text-body text-decoration-none' %>
            <%# else %>
              <%= link_to raw('<i class="far fa-comment-alt"></i>'), "#{recipe_path(recipe)}#comments", class: 'p-0 ml-3 text-body text-decoration-none' %>
            <%# end %>
            <%#= link_to raw('<i class="fas fa-share-alt"></i>'), '#', class: 'p-0 ml-3 text-body text-decoration-none' %>
            <%= link_to recipe_bookmarks_path(recipe), method: :patch, remote: true, class: 'p-0 ml-3 text-body text-decoration-none', 'data-bookmark-recipe': recipe.id do %>
              <% if recipe.bookmarks.find_by(user: current_user).nil?  %>
                <i class="far fa-bookmark"></i>
              <% else %>
                <i class="fas fa-bookmark"></i>
              <% end %>
            <% end %>
          </div>
        <% else %>
          <div class="text-danger">
            <%= link_to new_user_session_path, class: 'p-0 text-danger text-decoration-none' do %>
              <i class="far fa-heart"></i>&nbsp;<span class="text-muted font-weight-lighter"><%= recipe.likes.count %></span>
              <% end %>
          </div>
          <div class="d-flex align-items-center">
            <%# if recipe.comments.any? %>
              <%#= link_to raw('<i class="fas fa-comment-alt"></i>'), "#{recipe_path(recipe)}#comments", class: 'p-0 ml-3 text-body text-decoration-none' %>
            <%# else %>
              <%= link_to raw('<i class="far fa-comment-alt"></i>'), "#{recipe_path(recipe)}#comments", class: 'p-0 ml-3 text-body text-decoration-none' %>
            <%# end %>
            <%#= link_to raw('<i class="fas fa-share-alt"></i>'), new_user_session_path, class: 'p-0 ml-3 text-body text-decoration-none' %>
            <%= link_to raw('<i class="far fa-bookmark"></i>'), new_user_session_path, class: 'p-0 ml-3 text-body text-decoration-none' %>
          </div>
        <% end %>
      </div>
      <%= link_to recipe.user.name, user_path(recipe.user), class: 'card-link text-body', style: 'font-size: 90%' %><br>
      <a href="<%= recipe_path(recipe) %>" class="card-link text-body text-uppercase"><%= recipe.title %></a>
      <div class="card-text font-weight-lighter" style="font-size: 90%"><%= recipe.description %></div>
    </div>
  </div>
</div>
