<div class="navbar navbar-light sticky-top p-0 pt-3" style="top:59px">
  <div class="navbar-nav d-flex w-100 flex-column align-items-start">
    <div class="d-flex w-100 align-items-center nav-item" style="padding-bottom: 12px;">
      <div class="text-center" style="width:32px">
        <i class="fas fa-cog"></i>
      </div>
      <%= link_to t('.dashboard'), admin_path(), class: 'nav-link p-0' %>
    </div>
    <div class="d-flex w-100 align-items-center nav-item" style="padding: 12px 0;">
      <div class="text-center" style="width:32px">
        <i class="fas fa-users"></i>
      </div>
      <%= link_to t('.users'), admin_users_path(), class: 'nav-link p-0' %>
    </div>
    <div class="d-flex w-100 align-items-center nav-item" style="padding: 12px 0;">
      <div class="text-center" style="width:32px">
        <i class="fas fa-utensils"></i>
      </div>
      <%= link_to t('.recipes'), admin_recipes_path(), class: 'nav-link p-0' %>
    </div>
    <div class="d-flex w-100 align-items-center nav-item" style="padding: 12px 0;">
      <div class="text-center" style="width:32px">
        <i class="fas fa-comment-alt"></i>
      </div>
      <%= link_to t('.comments'), admin_comments_path(), class: 'nav-link p-0' %>
    </div>
    <div class="d-flex w-100 align-items-center nav-item" style="padding: 12px 0;">
      <div class="text-center" style="width:32px">
        <i class="fas fa-comment-alt"></i>
      </div>
      <%= link_to t('.replies'), admin_replies_path(), class: 'nav-link p-0' %>
    </div>
    <div class="d-flex w-100 align-items-center nav-item" style="padding: 12px 0;">
      <div class="text-center" style="width:32px">
        <i class="fas fa-times-circle"></i>
      </div>
      <%= link_to t('.spam'), admin_path(), class: 'nav-link p-0' %>
    </div>
    <div class="d-flex w-100 align-items-center nav-item" style="padding: 12px 0;">
      <div class="text-center" style="width:32px">
        <i class="fas fa-file-alt"></i>
      </div>
      <%= link_to t('.new_page'), new_page_path(), class: 'nav-link p-0' %>
    </div>
  </div>
</div>
