<div id="user-banner" class="container-fluid">
  <div class="d-flex flex-column bg-light justify-content-center" style="border-radius: 4px;">
    <div class="order-0 d-flex align-items-center flex-grow-1 flex-md-grow-0 p-3">
      <div class="d-flex align-items-center">
        <img src="<%= user.image %>" alt="" class="d-md-none rounded" width="64px" height="64px" style="object-fit: cover;">
      </div>
      <div class="d-flex flex-column flex-md-row align-items-md-end flex-grow-1 flex-md-grow-0 pl-3 pl-md-0">
        <div id="user-stats" class="order-0 d-flex flex-grow-1 flex-md-grow-0 justify-content-between">
          <%= link_to user_path(user), class: 'btn p-0' do %>
          <div class="d-flex flex-column align-items-center">
            <strong class="mb-n1"><%= user.recipes.count %></strong>
            <small><%= t('.recipes') %></small>
          </div>
          <% end %>
          <%= link_to user_followers_path(user), class: 'btn p-0' do %>
          <div class="d-flex flex-column align-items-center">
            <strong class="mb-n1"><%= user.followers.count %></strong>
            <small class="px-3"><%= t('.followers') %></small>
          </div>
          <% end %>
          <%= link_to user_following_path(user), class: 'btn p-0' do %>
          <div class="d-flex flex-column align-items-center">
            <strong class="mb-n1"><%= user.following.count %></strong>
            <small><%= t('.following') %></small>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="d-flex align-items-center justify-content-between mx-3 mb-3">
      <div id="user-name-sm" class="order-0 d-flex flex-grow-1 flex-md-grow-0 flex-md-column">
        <%= render user %>
      </div>
      <% if user_signed_in? && user == current_user %>
        <%= link_to t('.admin_html'), user_settings_path(current_user), class: "text-muted text-decoration-none" %>
      <% end %>
    </div>
  </div>
</div>
