<div class="container my-5">
  <%= simple_form_for(@page) do |f| %>
    <%= f.input :title, label: t('.title'), input_html: { maxlength: 100 } %>
    <%= f.input :content, label: t('.content'), input_html: { rows: 10 }  %>
    <div class="d-flex justify-content-between align-items-center">
      <%= f.button :submit, t('.create_page'), class: "btn btn-light" %>
      <% if current_user.admin && !@page.id.nil? %>
      <%= link_to t('.delete'), page_path(@page), data: { confirm: t(".are_you_sure") }, method: :delete, class: 'text-body' %>
      <% end %>
    </div>
  <% end %>
</div>
