<div class="container my-3 p-0 conversion">
  <div id="conversion-title" class="d-flex flex-column align-items-center">
    <h5 class="d-none d-print-block"><%= t('.cuisinierrebelle_com_html') %></h5>
    <h1><%= t('.conversion') %></h1>
    <p class="lead text-muted"><%= t('.ingredients_in_grams') %></p>
  </div>
  <div id="conversion-title-bar" class="container">
    <div class="row py-3 border-bottom border-top bg-light">
      <div class="col-4"></div>
      <div class="col text-nowrap"><strong>1 <%= t('.cup') %></strong></div>
      <div class="col text-nowrap"><strong>1/2 <%= t('.cup') %></strong></div>
      <div class="col text-nowrap"><strong>1/3 <%= t('.cup') %></strong></div>
      <div class="col text-nowrap"><strong>1/4 <%= t('.cup') %></strong></div>
      <div class="col text-nowrap"><strong>1 <%= t('.tbsp') %></strong></div>
      <div class="col text-nowrap"><strong>1 <%= t('.tsp') %></strong></div>
    </div>
  </div>
  <!-- <button type="button" id="print" class="btn btn-light float-right d-none d-md-block d-print-none mb-3"><i class="fas fa-print"></i>&nbsp;<%= t('.print') %></button> -->
  <div class="container">
    <div class="row p-2 border-top">
      <div class="col-4"><%= t('.tbsp') %><br><small><%= t('.table_spoon') %></small></div>
      <div class="col text-nowrap">16</div>
      <div class="col text-nowrap">8</div>
      <div class="col text-nowrap">5.3</div>
      <div class="col text-nowrap">4</div>
      <div class="col text-nowrap">1</div>
      <div class="col text-nowrap">1/3</div>
    </div>
    <div class="row p-2 border-top">
      <div class="col-4"><%= t('.tsp') %><br><small><%= t('.tea_spoon') %></small></div>
      <div class="col text-nowrap">48</div>
      <div class="col text-nowrap">24</div>
      <div class="col text-nowrap">16</div>
      <div class="col text-nowrap">12</div>
      <div class="col text-nowrap">3</div>
      <div class="col text-nowrap">1</div>
    </div>
    <div class="row p-2 border-top">
      <div class="col-4 text-left"><%= t('.bread_flour_t65') %></a><br><span class="text-muted"><small>&rho;: 550 g/L</small></span></div>
      <div class="col text-nowrap">130 g</div>
      <div class="col text-nowrap">65 g</div>
      <div class="col text-nowrap">43.3 g</div>
      <div class="col text-nowrap">32.5 g</div>
      <div class="col text-nowrap">8.125 g</div>
      <div class="col text-nowrap">2.7 g</div>
    </div>
    <div class="row p-2 border-top">
      <div class="col-4 text-left"><%= t('.all_purpose_flour_t55') %><br><span class="text-muted"><small>&rho;: 529 g/L</small></span></div>
      <div class="col text-nowrap">125 g</div>
      <div class="col text-nowrap">62.5 g</div>
      <div class="col text-nowrap">41.6 g</div>
      <div class="col text-nowrap">31.25 g</div>
      <div class="col text-nowrap">7.8 g</div>
      <div class="col text-nowrap">2.6 g</div>
    </div>
    <div class="row p-2 border-top">
      <div class="col-4 text-left"><%= t('.pastry_flour_t45') %></a><br><span class="text-muted"><small>&rho;: 482 g/L</small></span></div>
      <div class="col text-nowrap">144 g</div>
      <div class="col text-nowrap">72 g</div>
      <div class="col text-nowrap">38 g</div>
      <div class="col text-nowrap">28.5 g</div>
      <div class="col text-nowrap">7.125 g</div>
      <div class="col text-nowrap">2.375 g</div>
    </div>
    <div class="row p-2 border-top">
      <div class="col-4 text-left"><%= t('.unsalted_butter') %><br><span class="text-muted"><small>&rho;: 959 g/L</small></span></div>
      <div class="col text-nowrap">227 g</div>
      <div class="col text-nowrap">113.5 g</div>
      <div class="col text-nowrap">75.67 g</div>
      <div class="col text-nowrap">56.75 g</div>
      <div class="col text-nowrap">14.19 g</div>
      <div class="col text-nowrap">4.73 g</div>
    </div>
    <div class="row p-2 border-top">
      <div class="col-4 text-left"><%= t('.margarine') %><br><span class="text-muted"><small>&rho;: 973 g/L</small></span></div>
      <div class="col text-nowrap">230 g</div>
      <div class="col text-nowrap">115 g</div>
      <div class="col text-nowrap">76.6 g</div>
      <div class="col text-nowrap">57.5 g</div>
      <div class="col text-nowrap">14.375 g</div>
      <div class="col text-nowrap">4.8 g</div>
    </div>
    <div class="row p-2 border-top">
      <div class="col-4 text-left"><%= t('.brown_liquid_honey') %><br><span class="text-muted"><small>&rho;: 1420 g/L</small></span></div>
      <div class="col text-nowrap">336 g</div>
      <div class="col text-nowrap">167 g</div>
      <div class="col text-nowrap">112 g</div>
      <div class="col text-nowrap">84 g</div>
      <div class="col text-nowrap">21 g</div>
      <div class="col text-nowrap">7 g</div>
    </div>
    <div class="row p-2 border-top">
      <div class="col-4 text-left"><%= t('.water') %><br><span class="text-muted"><small>&rho;: 1000 g/L</small></span></div>
      <div class="col text-nowrap">236.6 g</div>
      <div class="col text-nowrap">118.3 g</div>
      <div class="col text-nowrap">78.8 g</div>
      <div class="col text-nowrap">59.15 g</div>
      <div class="col text-nowrap">14.78 g</div>
      <div class="col text-nowrap">4.93 g</div>
    </div>
    <div class="row p-2 border-top">
      <div class="col-4 text-left"><%= t('.milk') %><br><span class="text-muted"><small>&rho;: 1035 g/L</small></span></div>
      <div class="col text-nowrap">244.87 g</div>
      <div class="col text-nowrap">122.44 g</div>
      <div class="col text-nowrap">81.62 g</div>
      <div class="col text-nowrap">61.22 g</div>
      <div class="col text-nowrap">15.3 g</div>
      <div class="col text-nowrap">5.1 g</div>
    </div>
    <div class="row p-2 border-top">
      <div class="col-4 text-left"><%= t('.powder_milk') %><br><span class="text-muted"><small>&rho;: 528 g/L</small></span></div>
      <div class="col text-nowrap">125 g</div>
      <div class="col text-nowrap">62.5 g</div>
      <div class="col text-nowrap">41.6 g</div>
      <div class="col text-nowrap">31.25</div>
      <div class="col text-nowrap">7.82 g</div>
      <div class="col text-nowrap">2.6 g</div>
    </div>
    <div class="row p-2 border-top">
      <div class="col-4 text-left"><%= t('.oat') %><br><span class="text-muted"><small>&rho;: 432 g/L</small></span></div>
      <div class="col text-nowrap">102.2 g</div>
      <div class="col text-nowrap">51.1 g</div>
      <div class="col text-nowrap">34.1 g</div>
      <div class="col text-nowrap">25.55 g</div>
      <div class="col text-nowrap">6.38 g</div>
      <div class="col text-nowrap">2.13 g</div>
    </div>
    <div class="row p-2 border-top">
      <div class="col-4 text-left"><%= t('.uncooked_rice') %><br><span class="text-muted"><small>&rho;: 753 g/L</small></span></div>
      <div class="col text-nowrap">178.15 g</div>
      <div class="col text-nowrap">89.1 g</div>
      <div class="col text-nowrap">59.38 g</div>
      <div class="col text-nowrap">44.54 g</div>
      <div class="col text-nowrap">11.135 g</div>
      <div class="col text-nowrap">3.7 g</div>
    </div>
    <div class="row p-2 border-top">
      <div class="col-4 text-left"><%= t('.white_granulated_sugar') %><br><span class="text-muted"><small>&rho;: 849 g/L</small></span></div>
      <div class="col text-nowrap">201 g</div>
      <div class="col text-nowrap">100.5 g</div>
      <div class="col text-nowrap">67 g</div>
      <div class="col text-nowrap">50.25 g</div>
      <div class="col text-nowrap">12.56 g</div>
      <div class="col text-nowrap">4.2 g</div>
    </div>
    <div class="row p-2 border-top">
      <div class="col-4 text-left"><%= t('.brown_granulated_sugar') %><br><span class="text-muted"><small>&rho;: 823 g/L</small></span></div>
      <div class="col text-nowrap">195 g</div>
      <div class="col text-nowrap">97.5 g</div>
      <div class="col text-nowrap">65 g</div>
      <div class="col text-nowrap">48.75 g</div>
      <div class="col text-nowrap">12.2 g</div>
      <div class="col text-nowrap">4.1 g</div>
    </div>
    <div class="row p-2 border-top">
      <div class="col-4 text-left"><%= t('.powdered_sugar') %><br><span class="text-muted"><small>&rho;: 511 g/L</small></span></div>
      <div class="col text-nowrap">120.9 g</div>
      <div class="col text-nowrap">60.45 g</div>
      <div class="col text-nowrap">40.3 g</div>
      <div class="col text-nowrap">30.23 g</div>
      <div class="col text-nowrap">7.56 g</div>
      <div class="col text-nowrap">2.52 g</div>
    </div>
  </div>
</div>
