<div class="top-100 my-5">
  <div id="top-100-title" class="container mb-3">
    <div class="h1 m-0 text-center"><%= t('.top_100') %></div>
  </div>
  <div id="top-100-title-bar" class="container">
    <div class="row p-3 border-bottom border-top bg-light align-items-center justify-content-center">
      <div class="col-1 d-flex align-items-center justify-content-center"><%= t('.heart_html') %></div>
      <div class="col"><strong><%= t('.title') %></strong></div>
    </div>
  </div>
  <div class="container">
    <% @recipes.each_with_index do |recipe, index| %>
    <div class="row px-3 align-items-center <%= 'bg-light' if index.odd? %>" style="height: 48px;">
      <tr id="<%= "recipe-top-#{index+1}" %>">
        <!-- <th scope="row"><%= index + 1 %></th> -->
        <div class="col-1 d-flex justify-content-center"><%= recipe.likes_count %></div>
        <div class="col"><%= link_to recipe.title, recipe_path(recipe), class: 'd-flex w-100' %></div>
      </tr>
    </div>
    <% end %>
  </div>
</div>
