<%= render 'shared/user-banner', user: @user %>
<div class="container mb-5">
  <% if !@about.nil? %>
  <div class="p-3">
    <%= @about.content %>
  </div>
  <div class="d-flex flex-column order-1 flex-grow-1 flex-md-grow-0 justify-content-center align-items-start">
    <% if @about.facebook.present? %>
    <a href="<%= @about.facebook %>" target="_blank" class="btn btn-sm d-flex align-items-center">
      <div style="display:block;width: 32px;"><i class="fab fa-facebook" style="color: #4367b1;font-size: 18px;margin-top: 2px;"></i></div>
      <%= @about.facebook.gsub('https://facebook.com', '') %>
    </a>
    <% end %>
    <% if @about.instagram.present? %>
    <a href="<%= @about.instagram %>" target="_blank" class="btn btn-sm d-flex align-items-center">
      <div style="display:block;width: 32px;"><i class="fab fa-instagram" style="color: #ed4956;font-size: 18px;margin-top: 2px;"></i></div>
      <%= @about.instagram.gsub('https://instagram.com', '') %>
    </a>
    <% end %>
    <% if @about.twitter.present? %>
    <a href="<%= @about.twitter %>" target="_blank" class="btn btn-sm d-flex align-items-center">
      <div style="display:block;width: 32px;"><i class="fab fa-twitter" style="color: #2ea1f1;font-size: 18px;margin-top: 2px;"></i></div>
      <%= @about.twitter.gsub('https://twitter.com', '') %>
    </a>
    <% end %>
    <% if @about.youtube.present? %>
    <a href="<%= @about.youtube %>" target="_blank" class="btn btn-sm d-flex align-items-center">
      <div style="display:block;width: 32px;"><i class="fab fa-youtube" style="color: #f30f05;font-size: 18px;margin-top: 2px;"></i></div>
      <%= @about.youtube.gsub('https://youtube.com/channel', '').gsub('https://youtube.com/c', '') %>
    </a>
    <% end %>
  </div>
  <% end %>
  <div class="p-3">
  <% if @user == current_user %>
    <% if @about.nil? %>
      <%= link_to t('.edit'), new_user_about_path(@user) %>
    <% else %>
      <%= link_to t('.edit'), edit_user_about_path(@user, @about) %>
    <% end %>
  <% end %>
  </div>
</div>
