<%= render 'shared/user-banner', user: @user %>
<div class="container mb-5">
<%= simple_form_for [@user, @about], url: user_about_index_path(@user), class: 'p-3' do |f| %>
  <%= f.input :content, label:false, placeholder: t('.add_a_public_content'), input_html: { id: "about_content_#{@user.id}" } %>
  <%= f.input :facebook %>
  <%= f.input :instagram %>
  <%= f.input :twitter %>
  <%= f.input :youtube %>
  <%= f.button :submit, t('.save'), class: 'btn btn-secondary' %>
<% end %>
</div>
