<div class="container my-5">
  <%= simple_form_for(@product) do |f| %>
    <%= f.input :title, label: t('.title'), input_html: { maxlength: 100 } %>
    <%= f.input :description, label: t('.description'), input_html: { maxlength: 280 } %>
    <%= f.input :url, label: t('.url') %>
    <div class="d-flex flex-column">
      <%= f.label :photo, t('.photo') %>
      <%= image_tag @product.photo.url(:preview), id: 'photo-active', crop: :fill, width: 300, class: 'img-fluid rounded mb-3' unless @product.photo.url.nil? %>
      <%= image_tag "", width: 300, class: "d-none img-fluid rounded mb-3", id: "photo-preview" %>
      <%= f.input :photo, input_html: { id: 'photo-input'}, label: false %>
    </div>
    <div class="my-3 d-flex justify-content-between align-items-center">
      <%= f.button :submit, t('.create_page'), class: "btn btn-secondary" %>
      <%= link_to t('.delete'), product_path(@product), data: { confirm: t(".are_you_sure") }, method: :delete, class: 'text-body' %>
    </div>
  <% end %>
</div>
