<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'shared/header' %>
  </head>
  <body
    class="d-flex flex-column"
    data-user="<%= user_signed_in? %>" <%= "data-user-id=\"#{current_user.id}\"".html_safe if user_signed_in? %>
    data-device="<%= client.device_type %>"
    style="padding-top: <%= !client.device_type.nil? && client.device_type.match(/desktop/) ? 59 : 113 %>px;<%= "padding-bottom: 42px;" if !client.device_type.nil? && client.device_type.match(/smartphone/) %>">
    <%= render 'layouts/facebook' %>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= render 'shared/footer' %>
    <%#= javascript_include_tag 'application' %>
    <%= javascript_packs_with_chunks_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
