<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'shared/header' %>
  </head>
  <body class="d-flex flex-column" data-user="<%= user_signed_in? %>" <%= "data-user-email=\"#{current_user.email}\"" %> data-device="<%= client.device_type %>">
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= render 'shared/footer' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-155962082-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-155962082-1');
    </script>
  </body>
</html>
