<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= t('.cuisinier_rebelle_social_recipe') %></title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_packs_with_chunks_tag 'application', media: 'all' %>
    <%= render 'layouts/google_analytics' %>
  </head>
  <body>
    <div class="container">
      <div class="d-flex vh-100 justify-content-center">
        <%= yield %>
      </div>
    </div>
    <%= javascript_packs_with_chunks_tag 'application' %>
  </body>
</html>
