<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'shared/header' %>
  </head>
  <body class="d-flex flex-column" data-user="<%= user_signed_in? %>" data-device="<%= client.device_type.nil? ? 'robot' : client.device_type %>">
    <%= render 'layouts/facebook' %>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= render 'shared/footer' %>

    <%#= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_packs_with_chunks_tag 'application' %>
  </body>
</html>
