<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= "#{t('.cuisinier_rebelle_social_recipe')} - #{@recipe.title.capitalize}" %></title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <!-- Facebook -->
    <meta property="fb:app_id" content="570259036897585" />
    <meta property="og:site_name" content="Cuisinier Rebelle" />
    <meta property="og:title" content="<%= @recipe.title.capitalize %>" />
    <meta property="og:description" content="<%= @recipe.description %>" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="<%= recipe_url(@recipe) %>" />
    <meta property="og:image" content="<%= image_url @recipe.photo.url(:open_graph), secure: true %>" />
    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@cuisinierrebelle">
    <meta name="twitter:creator" content="@cuisinierrebelle">
    <meta name="twitter:title" content="<%= @recipe.title.capitalize %>">
    <meta name="twitter:description" content="<%= @recipe.description %>">
    <meta name="twitter:image" content="<%= image_url @recipe.photo.url(:open_graph), secure: true %>">
    <!-- Languages for Google SEO -->
    <link rel="canonical" href="<%= recipe_url(@recipe) %>" />
    <link rel="alternate" hreflang="en" href="<%= recipe_url(@recipe, locale: :en) %>" />
    <link rel="alternate" hreflang="fr" href="<%= recipe_url(@recipe, locale: :fr) %>" />
    <link rel="alternate" hreflang="es" href="<%= recipe_url(@recipe, locale: :es) %>" />
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="https://media.cuisinierrebelle.com/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="https://media.cuisinierrebelle.com/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="https://media.cuisinierrebelle.com/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <!-- <link rel="manifest" href="https://media.cuisinierrebelle.com/assets/img/favicons/manifest.json"> -->
    <link rel="manifest" href="/manifest.json" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="mask-icon" href="https://media.cuisinierrebelle.com/assets/img/favicons/safari-pinned-tab.svg" color="#563d7c">
    <link rel="icon" href="https://media.cuisinierrebelle.com/favicon.ico">
    <meta name="msapplication-config" content="https://media.cuisinierrebelle.com/assets/img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#343940">
    <%= render 'layouts/fonts_preload' %>
    <%#= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/google_analytics' %>
    <%= render 'layouts/google_adsense' if user_signed_in? && !current_user.freemium || !user_signed_in? %>
  </head>
  <body
    class="d-flex flex-column" data-user="<%= user_signed_in? %>"
    data-device="<%= client.device_type.nil? ? 'robot' : client.device_type %>"
    style="padding-top: <%= client.device_type.match(/desktop/) ? 59 : 113 %>px;<%= "padding-bottom: 42px;" if client.device_type.match(/smartphone/) %>">
    <%= render 'layouts/facebook' %>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%#= @recipe.title %>
    <%= yield %>
    <%= render 'shared/footer' %>
    <%#= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_packs_with_chunks_tag 'application' %>
  </body>
</html>
