<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= t('.cuisinier_rebelle_social_recipe') %></title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <!-- Languages for Google SEO -->
    <link rel="canonical" href="<%= request.original_url %>" />
    <link rel="alternate" hreflang="en" href="/en" />
    <link rel="alternate" hreflang="fr" href="/fr" />
    <link rel="alternate" hreflang="es" href="/es" />
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="https://media.cuisinierrebelle.com/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="https://media.cuisinierrebelle.com/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="https://media.cuisinierrebelle.com/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <!-- <link rel="manifest" href="https://media.cuisinierrebelle.com/assets/img/favicons/manifest.json"> -->
    <link rel="manifest" href="/manifest.json" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="mask-icon" href="https://media.cuisinierrebelle.com/assets/img/favicons/safari-pinned-tab.svg" color="#563d7c">
    <link rel="icon" href="https://media.cuisinierrebelle.com/favicon.ico" crossorigin>
    <meta name="msapplication-config" content="https://media.cuisinierrebelle.com/assets/img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#343940">
    <%#= render 'layouts/fonts_preload' %>
    <%#= stylesheet_packs_with_chunks_tag 'application', media: 'all' %>
    <%#= stylesheet_packs_with_chunks_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_packs_with_chunks_tag 'application', media: 'all' %>
    <%#= javascript_packs_with_chunks_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/google_analytics' %>
  </head>
  <body>
    <%= yield %>
    <%= javascript_packs_with_chunks_tag 'application' %>
    <%= javascript_packs_with_chunks_tag 'hello_vue' %>
  </body>
</html>
