<h2><%= t(".title", resource: resource.model_name.human) %></h2>

<%= simple_form_for(resource, url: registration_path(resource), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name,
                required: true,
                autofocus: true ,
                input_html: { autocomplete: "first_name" }%>
    <%= f.input :last_name,
                required: true,
                autofocus: true ,
                input_html: { autocomplete: "last_name" }%>
    <% if current_user.provider.nil? %>
    <%= f.input :email,
                required: true,
                autofocus: true ,
                input_html: { autocomplete: "email" }%>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p><%= t(".currently_waiting_confirmation_for_email", email: resource.unconfirmed_email) %></p>
    <% end %>


    <div class="my-3">
      <%= f.label :locale, t('.locale') %>
      <%#= f.select :locale, I18n.available_locales.map(&:to_s), class: "custom-select" %>
      <select name="user[locale]" id="user_locale" class="custom-select">
        <option selected><%= t('.open_this_select_menu') %></option>
        <option value="en"><%= t('.english_html') %></option>
        <option value="es"><%= t('.spanish_html') %></option>
        <option value="fr"><%= t('.french_html') %></option>
      </select>
    </div>

    <div class="d-flex flex-column">
      <%= f.label :image, t('.photo') %>
      <% unless @user.image.url.nil? %>
        <%= image_tag @user.image.url(:preview), id: 'photo-active', crop: :fill, width: 300, class: 'img-fluid rounded mb-3' %>
      <% end %>
      <%= image_tag "", width: 300, class: "d-none img-fluid rounded mb-3", id: "photo-preview" %>
      <%= f.input :image, input_html: { id: 'photo-input'}, label: false %>
    </div>
    <%= f.input :current_password,
                hint: t(".we_need_your_current_password_to_confirm_your_changes"),
                required: true,
                input_html: { autocomplete: "current-password" } %>
    <div class="my-3">
      <a href="javascript:void(0)" class="text-body" type="button" data-toggle="collapse" data-target="#collapsePwd" aria-expanded="false" aria-controls="collapsePwd">
        <%= t('.change_my_password') %>
      </a>
    </div>
    <div class="collapse" id="collapsePwd">
      <%= f.input :password,
                  hint: t(".leave_blank_if_you_don_t_want_to_change_it"),
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
    </div>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t(".update"), class: 'btn btn-secondary' %>
  </div>
<% end %>

<div class="my-3">
  <h3><%= t(".cancel_my_account") %></h3>
</div>
<p><%= t(".unhappy") %>&nbsp;<%= link_to t(".cancel_my_account"), registration_path(resource), data: { confirm: t(".are_you_sure") }, method: :delete %></p>

<%#= link_to t("devise.shared.links.back"), :back %>
