<div class="d-flex justify-content-center">
  <div class="d-flex flex-column align-items-center justify-content-center">
    <div class="h2"><%= t(".sign_up") %></div>
    <%#= render "users/shared/providers" %>
    <button class="btn text-muted" type="button" data-toggle="collapse" data-target="#collapseForm" aria-expanded="false" aria-controls="collapseForm">
      <%= t('.use_form') %>
    </button>
    <div class="collapse mt-3" id="collapseForm">
    <%#= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
    <%= simple_form_for(resource, url: registration_path(resource)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :first_name,
                    required: true,
                    autofocus: true ,
                    input_html: { autocomplete: "first_name" }%>
        <%= f.input :last_name,
                    required: true,
                    autofocus: true ,
                    input_html: { autocomplete: "last_name" }%>
        <%= f.input :email,
                    required: true,
                    autofocus: true ,
                    input_html: { autocomplete: "email" }%>
        <%= f.input :password,
                    required: true,
                    hint: (t('devise.shared.minimum_password_length', count: @minimum_password_length) if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, t(".sign_up"), class: 'btn btn-light' %>
      </div>
    <% end %>
    </div>
    <div class="my-3">
    <%= render "users/shared/links" %>
    </div>
  </div>
</div>
